# ASP.NET
bin/
obj/
.vs/

# Angular
node_modules/
dist/
.angular/cache/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

TaskBackend/appsettings.Development.json
TaskBackend/appsettings.json
TaskFrontend/.angular/